h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}


.deckContainer {
  width: 500px;
  height: 330px;
  display: inline-block;
  background: black;
  color: white;
}

.deckContainer input {
  background: none;
  border: none;
}

.deckContainer.deckA { float: left; }
.deckContainer.deckB { float: right; }

.deckInfoContainer {
  height: 95px; //500 - 256
  width: 100%;
  padding: 5px;
}

#mixerBoardContainer {
  display: inline-block;
  height: 330px;
  background-color: #222;
  padding: 5px 10px;
}

.mixerContainer {
  height: 100%;
  background-color: #222;
}

